body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}


h4 {
    color: #ffffff;
    text-align: left;
    padding: 0;
    font-size: 30px;
    margin-bottom: 2px;
}

h3 {
    color: #ffffff;
    text-align: left;
    padding: 0;
    font-size: 22px;
    margin-top: 10px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    border: 3px solid #333;
    margin-right: 15px;
    object-fit: cover;
}


nav ul {
    background: #004080;
    padding: 10px;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li:hover {
    background: #9a9696;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav ul li a {
    margin:auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

nav b {
    color: #003366;
    cursor: pointer;
}

b:hover {
    color: #828b94;
    transition: all 0.3s ease;
}
